<div class="btn-group btn-group-justified " role="group">
  <button type="button disabled" [ngClass]="{'a_grade': grade=='A'}">A</button>
  <button type="button" [ngClass]="{'b_grade': grade=='B'}">B</button>
  <button type="button" [ngClass]="{'c_grade': grade=='C'}">C</button>
  <button type="button" [ngClass]="{'d_grade': grade=='D'}">D</button>
  <button type="button" [ngClass]="{'e_grade': grade=='E'}">E</button>
  <button type="button" [ngClass]="{'f_grade': grade=='F'}">F</button>
</div>
