<div class="row">
  <div class="col-md-2">Image name</div>
  <div class="col-md-2">ID</div>
  <div class="col-md-1">tag</div>
  <div class="col-md-1">size</div>
  <div class="col-md-2">freshness grade</div>
  <div class="col-md-1">OS</div>
  <div class="col-md-2">actions</div>
  <div class="col-md-1"><span class="glyphicon glyphicon-sort" aria-hidden=true></span></div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">Sample image name</div>
  <div class="col-md-2">234j5432klj5h324lkj5h234k</div>
  <div class="col-md-1">latest</div>
  <div class="col-md-1">200 MB</div>
  <div class="col-md-2">FRESHNESS</div>
  <div class="col-md-1">alpine:3.6</div>
  <div class="col-md-2">
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>Primary ▼</button>

      <ul class="dropdown-menu" dropdownMenu>
        <li><a class="btn btn-default btn-block" href="#">pull</a></li>
        <li><a class="btn btn-default btn-block" href="#">remove</a></li>
        <li><a class="btn btn-default btn-block" href="#">create container</a></li>
        <li><a class="btn btn-default btn-block" href="#">build</a></li>
        <li><a class="btn btn-default btn-block" href="#">push</a></li>
        <li><a class="btn btn-default btn-block" href="#">vuln chart</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-1">

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">Sample image name</div>
  <div class="col-md-2">234j5432klj5h324lkj5h234k</div>
  <div class="col-md-1">latest</div>
  <div class="col-md-1">200 MB</div>
  <div class="col-md-2">FRESHNESS</div>
  <div class="col-md-1">alpine:3.6</div>
  <div class="col-md-2">
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>Primary ▼</button>

      <ul class="dropdown-menu" dropdownMenu>
        <li><a class="btn btn-default btn-block" href="#">pull</a></li>
        <li><a class="btn btn-default btn-block" href="#">remove</a></li>
        <li><a class="btn btn-default btn-block" href="#">create container</a></li>
        <li><a class="btn btn-default btn-block" href="#">build</a></li>
        <li><a class="btn btn-default btn-block" href="#">push</a></li>
        <li><a class="btn btn-default btn-block" href="#">vuln chart</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-1">

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">Sample image name</div>
  <div class="col-md-2">234j5432klj5h324lkj5h234k</div>
  <div class="col-md-1">latest</div>
  <div class="col-md-1">200 MB</div>
  <div class="col-md-2">FRESHNESS</div>
  <div class="col-md-1">alpine:3.6</div>
  <div class="col-md-2">
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>Primary ▼</button>
      <ul class="dropdown-menu" dropdownMenu>
        <li><a class="btn btn-default btn-block" href="#">p</a></li>
        <li><a class="btn btn-default btn-block" href="#">r</a></li>
        <li><a class="btn btn-default btn-block" href="#">c</a></li>
        <li><a class="btn btn-default btn-block" href="#">b</a></li>
        <li><a class="btn btn-default btn-block" href="#">p</a></li>
        <li><a class="btn btn-default btn-block" href="#">v</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-1">

  </div>
</div>
