<app-search-images></app-search-images>
<div class="row">
  <div class="col-md-2">Image name</div>
  <div class="col-md-2">ID</div>
  <div class="col-md-1">tag</div>
  <div class="col-md-1">size</div>
  <div class="col-md-2">freshness grade <span class="glyphicon glyphicon-info-sign" (mouseenter) ="mouseEnter() "  (mouseleave) ="mouseLeave()"></span></div>
  <div class="col-md-1">OS</div>
  <div class="col-md-2">actions</div>
  <div class="col-md-1"><span class="glyphicon glyphicon-sort" aria-hidden=true></span></div>

</div>

<hr>
<div *ngIf="showFreshnessDefinition">
 <app-freshness-definition></app-freshness-definition>
</div>
<div class="bottomMarginSingleLine" *ngFor="let image of images">
  <div class="row">
    <div class="col-md-2">{{image.name}}</div>
    <div class="col-md-2">{{image.id}}</div>
    <div class="col-md-1">{{image.tag}}</div>
    <div class="col-md-1">{{image.size}} MB</div>
    <div class="col-md-2"><app-freshness-indicator [grade]="image.freshness_grade"></app-freshness-indicator></div>
    <div class="col-md-1">{{image.os}}</div>
    <div class="col-md-2">
      <div class="dropdown" dropdown>
        <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" (click)="changeDropdownText()" dropdownToggle>actions ▼</button>

        <ul class="dropdown-menu" dropdownMenu>
          <li><a class="btn btn-default btn-block" href="#">pull</a></li>
          <li><a class="btn btn-default btn-block" href="#">remove</a></li>
          <li><a class="btn btn-default btn-block" href="#">create container</a></li>
          <li><a class="btn btn-default btn-block" href="#">build</a></li>
          <li><a class="btn btn-default btn-block" href="#">push</a></li>
          <li><a class="btn btn-default btn-block" href="#">vuln chart</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
